    <h1>{{article.title}}</h1>
    <p>{{article.text}}</p>
    <p>{{article.owner}}</p>
    <p>{{article.price}}</p>
    <p>{{article.end_date}}</p>
    <p>{{article.category}}</p>
    {% for image in article.articleimages_set.all%}
        <img src="{{image.image.url}}">
    {%endfor%}