{%for item in articles %}
    <h1><a href="{% url 'article_detail' pk=item.pk %}">{{item.title}}</a></h1>
    <p>{{item.text}}</p>
    <p>{{item.owner}}</p>
    <p>{{item.price}}</p>
    <p>{{item.end_date}}</p>
    <p>{{item.category}}</p>
    {% for image in item.articleimages_set.all%}
        <img src="{{image.image.url}}">
    {%endfor%}
{%endfor%}